<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-primary">Parameterized Pipe Example..!</h1>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
         <div class="col">
            <div class="lead border rounded p-3 my-3">
                <p>{{message}}</p>
                <p>{{message | slice : 4}}</p>
                <p>{{message}}</p>
                <p>{{message | slice : 6:8}}</p>
            </div>
            <div class="lead border rounded p-3 my-3">
                <p>{{5678}}</p>
                <p>{{5678 | currency :'INR' : 'symbol'}}</p>
                <p>{{5678 | number }}</p>
                <p>{{5.678 | number : '1.8'}}</p>
                <p>{{5.6789 | number : '1.2-2'}}</p>
                <p>{{5.67 | number : '3.4-4'}}</p>
                <p>{{5.678 | number : '3.2-2'}}</p>
            </div>
            <div class="lead border rounded p-3 my-3">
                <p>{{date}}</p>
                <p>{{date | date : 'MM/dd/yyyy'}}</p>
                <p>{{date | date : 'yyyy-MM-dd HH:mm:ss Z'}}</p>
                <p>{{date | date : 'MM/dd/yyyy "at" h:mma'}}</p>
                <p>{{date | date : 'medium'}}</p>
            </div>
        </div>
    </div>
</div>
