<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">NG-CONTAINER</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="lead border p-3">
                <h2>Example-1</h2>
                <div>
                    <h2>This is H2 tag..!</h2>
                    <p>This is Paragraph tag..!</p>
                </div>
            </div>
            <div class="lead border p-3">
                <h2>Example-2</h2>
                <ng-container>
                    <ng-container>Example-2</ng-container>
                    <ng-container>This is First ng-container tag..!</ng-container>
                    <ng-container>This is Second ng-container tag..!</ng-container>   
                </ng-container>
            </div>
            <div class="lead border p-3">
                <h2>Example-3</h2>
                <ng-container *ngFor="let item of [80,90,70,60,8,5]">
                {{item}}</ng-container>
            </div>
            <div class="lead border p-3">
                <h2>Example-4</h2>
                <ng-container *ngFor="let item of [80,91,71,60,8,5]">
                    <ng-container *ngIf="item%2==0">
                        {{item}}
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>