<div class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h1 >NG-TEMPLATE</h1>
            <p>Code Reusability..!</p>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="lead border p-3 my-3">
                <h2>Example-1</h2>
                <ng-template>
                    <h2>Hello ng-template</h2>
                    <p>Here, it is not possible to display the result because ng-template is depending in structural directives(ngFor, ngIf, ngSwitch)</p>
                </ng-template>
            </div>
            <div class="lead border p-3 my-3">
                <h2>Example-2</h2>
                <div *ngIf="example2">
                    <p>Logged In Successfully..!</p>
                </div>
                <ng-template *ngIf="example2">
                    <h2>Hello ng-template</h2>
                    <p>Here, it is not possible to display the result because directly we are calling structural directives</p>
                </ng-template>
            </div>
            <div class="lead border p-3 my-3">
                <h2>Example-3</h2>
                <button class="btn btn-outline-primary" (click)="example3Click()">{{example3 ? "True" : "False"}}</button>

                <div *ngIf="example3 else temp">
                    <p>Logged In Successfully..!</p>
                </div>
                <ng-template #temp>
                    <h2>Hello ng-template</h2>
                    <p>Here, it is not possible to display the result because directly we are calling structural directives</p>
                </ng-template>
            </div>
            <div class="lead border p-3 my-3">
                <h2>Example-4</h2>
                <ng-template #user>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nobis voluptatum cum voluptates iusto magnam, numquam, molestias aspernatur modi, nemo quia voluptatibus laborum qui quos tempora ipsam magni voluptate ab. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et voluptas architecto earum ullam laborum enim aut reiciendis sequi necessitatibus velit? Ut nisi temporibus laboriosam corporis accusantium sit ducimus blanditiis officia!</p>
                </ng-template>
                <ng-container *ngTemplateOutlet = "user"></ng-container>
                <ng-container *ngTemplateOutlet = "user"></ng-container>
                <ng-container *ngTemplateOutlet = "user"></ng-container>
                <ng-container *ngTemplateOutlet = "user"></ng-container>
                <ng-container *ngTemplateOutlet = "user"></ng-container>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1>Example-5</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Card-1</h5>
                </div>
                <ng-container *ngTemplateOutlet="card"></ng-container>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Card-2</h5>
                </div>
                <ng-container *ngTemplateOutlet="card"></ng-container>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Card-3</h5>
                </div>
                <ng-container *ngTemplateOutlet="card"></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #card>
    <div class="card-body">
        <h2>Card-Body</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut ad, possimus consequuntur quod pariatur eveniet incidunt nostrum et officia quas neque quo, veniam alias voluptatem, in eligendi. Veritatis, modi repudiandae!</p>
    </div>
</ng-template>

<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1>Example-6</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Card-1</h5>
                </div>
                <ng-container *ngTemplateOutlet="email"></ng-container>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Card-2</h5>
                </div>
                <ng-container *ngTemplateOutlet="email"></ng-container>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Card-3</h5>
                </div>
                <ng-container *ngTemplateOutlet="email; context:{NgEmail:'angularv17@gmail.com', NgName:'Angularv17'}"></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #email let-email="NgEmail" let-name="NgName">
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <p><b>Email</b> <span class="float-end">{{email ? email : "example@gmail.com"}}</span></p>
            </li>
            <li class="list-group-item">
                <p><b>Name</b> <span class="float-end">{{name ? name : "Example"}}</span></p>
            </li>
            <li class="list-group-item">
                <p><b>Mobile</b> <span class="float-end">9876543210</span></p>
            </li>
        </ul>
    </div>
</ng-template>

<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1>Example-7</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Card-1</h5>
                </div>
                <ng-container *ngTemplateOutlet="contact"></ng-container>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Card-2</h5>
                </div>
                <ng-container *ngTemplateOutlet="contact"></ng-container>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <div class="card-header">
                    <h5>Card-3</h5>
                </div>
                <ng-container *ngTemplateOutlet="contact; context:{Data:{name:'AngularV17', email:'angularV17@gmail.com'}}"></ng-container>
            </div>
        </div>
    </div>
</div>
<ng-template #contact let-data="Data">
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                <p><b>Name</b> <span class="float-end">{{data?.name ? data.name : "Example"}}</span></p>
            </li>
            <li class="list-group-item">
                <p><b>Email</b> <span class="float-end">{{data?.email ? data.email : "Example@gmail.com"}}</span></p>
            </li>
        </ul>
    </div>
</ng-template>