<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="lead p-3 border rounded">
                <h1 class="bg-secondary rounded p-2 text-white text-center">{{title}}</h1>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>
                            <b>First Name :</b>
                            <span class="float-end">{{firstName}}</span>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            <b>Last Name :</b>
                            <span class="float-end">{{lastName}}</span>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p>
                            <b>Mobile :</b>
                            <span class="float-end">{{mobile}}</span>
                        </p>
                        <button class="btn btn-outline-secondary" (click)="message()">Message</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>