<div class="container">
    <div class="row">
        <div class="col">
            <!-- <ng-content select="h1"></ng-content> -->
            <ng-content select=".text-center"></ng-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nam perspiciatis quam expedita recusandae facilis incidunt reprehenderit! Expedita laborum placeat animi, alias eligendi excepturi vitae suscipit porro. Ducimus, tenetur tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sint rerum dolores quaerat maiores id deserunt magnam voluptate provident modi, rem iusto aliquid nemo placeat ducimus, mollitia non ullam distinctio!</p>
            <ng-content select="button"></ng-content>
        </div>
    </div>
</div>