<div class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h1>NG-CONTENT</h1>
        </div>
    </div>
</div>
<hr>

<app-ng-content-child>
    <h1 class="text-center">NG-CONTENT CHILD COMPONENT-1</h1>
    <h6 class="text-center">Vikas</h6>
    <button class="btn btn-outline-secondary">Child Component 1</button>
</app-ng-content-child>
<hr>
<app-ng-content-child>
    <h1 class="text-center">NG-CONTENT CHILD COMPONENT-2</h1>
    <button class="btn btn-outline-secondary">Child Component 2</button>
</app-ng-content-child>
<hr>
<app-ng-content-child>
    <h1 class="text-center">NG-CONTENT CHILD COMPONENT-2</h1>
    <button class="btn btn-outline-secondary">Child Component 2</button>
</app-ng-content-child>