<div class="container my-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron text-center">
                <h3 class="display-3 text-info">Slider animation</h3>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col text-center">
            <button class="btn btn-outline-primary"  (click)="toggleSlider()" >Toggle Slider</button>
        </div>
    </div>

    <div class="row my-3" *ngIf="status" >
        <div class="col-md-6 offset-md-3">
            <div class="card" [@slider]="state">
                <div class="card-body">
                    <form action="">
                        <fieldset>
                            <legend class="text-center">Login Here</legend>

                            <div class="form-group my-3">
                                <label for="user">Username</label>
                                <input type="text" name="user" id="user" class="form-control">
                            </div>

                            <div class="form-group my-3">
                                <label for="pass">Password</label>
                                <input type="password" name="pass" id="pass" class="form-control">
                            </div>

                            <div class="form-group my-3">
                                <input type="submit" value="Login" class="btn btn-outline-success">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3" *ngIf="!status" >
        <div class="col-md-6 offset-md-3">
            <div class="card" [@slider]="state">
                <div class="card-body">
                    <form action="">
                        <fieldset>
                            <legend class="text-center">SignUp Here</legend>

                            <div class="form-group my-3">
                                <label for="user">Username</label>
                                <input type="text" name="user" id="user" class="form-control">
                            </div>

                            <div class="form-group my-3">
                                <label for="pass">Password</label>
                                <input type="password" name="pass" id="pass" class="form-control">
                            </div>

                            <div class="form-group my-3">
                                <input type="submit" value="SignUp" class="btn btn-outline-warning">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>