.firstExample{
    background-color: orange;
    color: #fff;
}
.secondExample{
    background-color: green;
    color: #fff;
}
.thirdExample{
    background-color: blue;
    color: #fff;
}
.fourthExample{
    background-color: red;
    color: #fff;
}
.firstFont{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}