<div class="container my-3">
    <div class="row">
        <div class="col">
            <h1 class="my-3 text-center text-warning">Custom Directive Example..!</h1>
        </div>
    </div>
</div>
<hr class="text-warning">
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="text-warning">Example-1</h1>
            <div appSimple color="red">
                <p>This is a paragraph text.</p>
                <span>This is a span text.</span>
            </div>
            <div appSimple color="green">
                <p>This is a paragraph text.</p>
                <span>This is a span text.</span>
            </div>
            <div appSimple color="blue">
                <p>This is a paragraph text.</p>
                <span>This is a span text.</span>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="text-warning">Example-2</h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum numquam quibusdam nihil assumenda saepe explicabo facere minus reiciendis. Molestiae, voluptas corrupti asperiores cupiditate repellat officiis culpa vitae ipsa officia harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum pariatur ex adipisci! Perspiciatis nesciunt rerum facere rem. Ad illo quis officiis labore, necessitatibus nobis magni ipsa vero et amet!</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum numquam quibusdam nihil assumenda saepe explicabo facere minus reiciendis. Molestiae, voluptas corrupti asperiores cupiditate repellat officiis culpa vitae ipsa officia harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum pariatur ex adipisci! Perspiciatis nesciunt rerum facere rem. Ad illo quis officiis labore, necessitatibus nobis magni ipsa vero et amet!</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum numquam quibusdam nihil assumenda saepe explicabo facere minus reiciendis. Molestiae, voluptas corrupti asperiores cupiditate repellat officiis culpa vitae ipsa officia harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum pariatur ex adipisci! Perspiciatis nesciunt rerum facere rem. Ad illo quis officiis labore, necessitatibus nobis magni ipsa vero et amet!</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum numquam quibusdam nihil assumenda saepe explicabo facere minus reiciendis. Molestiae, voluptas corrupti asperiores cupiditate repellat officiis culpa vitae ipsa officia harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum pariatur ex adipisci! Perspiciatis nesciunt rerum facere rem. Ad illo quis officiis labore, necessitatibus nobis magni ipsa vero et amet!</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum numquam quibusdam nihil assumenda saepe explicabo facere minus reiciendis. Molestiae, voluptas corrupti asperiores cupiditate repellat officiis culpa vitae ipsa officia harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum pariatur ex adipisci! Perspiciatis nesciunt rerum facere rem. Ad illo quis officiis labore, necessitatibus nobis magni ipsa vero et amet!</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum numquam quibusdam nihil assumenda saepe explicabo facere minus reiciendis. Molestiae, voluptas corrupti asperiores cupiditate repellat officiis culpa vitae ipsa officia harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum pariatur ex adipisci! Perspiciatis nesciunt rerum facere rem. Ad illo quis officiis labore, necessitatibus nobis magni ipsa vero et amet!</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum numquam quibusdam nihil assumenda saepe explicabo facere minus reiciendis. Molestiae, voluptas corrupti asperiores cupiditate repellat officiis culpa vitae ipsa officia harum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rerum pariatur ex adipisci! Perspiciatis nesciunt rerum facere rem. Ad illo quis officiis labore, necessitatibus nobis magni ipsa vero et amet!</p>
        </div>
    </div>
</div>
<i class="bi bi-arrow-up-circle-fill h1 text-danger top-icon" scrollToTop></i>