<nav class="navbar navbar-expand-lg bg-secondary shadow">
    <div class="container">
      <a class="navbar-brand text-white" href routerLink="/">ANGULAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href routerLink="/event" routerLinkActive="activated">Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href  routerLink="/style" routerLinkActive="activated">Style</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href  routerLink="/class" routerLinkActive="activated">Class</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>